
/*
.xp-font-lg {
    font-size:16px;
    padding: 4px;
}

.xp-font-md {
    font-size:12px;
    padding: 2px;
}

.xp-font-sm {
    font-size:8px;
    padding: 1px;
}

.xp-form-md {
    font-size:12px;
}

.xp-form-input {
    font-size:12px;
    width: 50px;
    height: 20px;
    padding: 2px;
}

.xp-form-button {
    font-size:20px;
    height: 20px;
}

.xp-list-item  {
    list-style-position:inside;
    border: 0.5px solid black;
    border-radius: 5px;
}*/

#map {
  height: 85%;
}

.ng-valid:not(form)  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

