<!-- <h1 class="mat-display-2">Login to FlightPlanner</h1>
<div>
  <div>
    <div>
      <form [formGroup]="loginForm">
        <mat-form-field class="example-full-width">
          <mat-label class="error">Email</mat-label>
          <input matInput type="email" formControlName="email" class="form-control" placeholder="email address">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label class="error">Password</mat-label>
          <input matInput type="password" class="form-control" formControlName="password" placeholder="password">
        </mat-form-field>
        <button mat-raised-button (click)="tryLogin(loginForm.value)" color="primary">XP Login</button>
      </form>
    </div>
  </div>
  <div>
    <div>
      <button mat-raised-button color="primary" (click)="tryGoogleLogin()">Login with Google</button>
    </div>
  </div>
</div> -->
<div class="row">
    <div class="col-3">
        <!-- <h2>{{labelText}}</h2> -->
        <form name="form" (ngSubmit)="f.form.valid && tryLogin(model)" #f="ngForm" novalidate class="xp-form">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary xp-button" (click)="tryLogin(model)">Login</button>
                <button [disabled]="loading" class="btn btn-primary xp-button" (click)="tryGoogleLogin()">Login with Google</button>
            </div>
            <div>
              {{errorMessage}}
            </div>
        </form>
    </div>
    <div class="col-3 xp-form">
        <img width="300" alt="XP Logo" src="./assets/images/xpLogo.jpg">
    </div>
</div>
