<div class="row container">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Logging in...</p>
    </ngx-spinner>

        <form name="form" #f="ngForm" class="col-9">
          <hr>
          <div class="form-group" >
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
              required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
          </div>
          <div class="form-group" >
            <label for="password">Password</label>
            <input type="password" class="form-control form-inline" name="password" [(ngModel)]="model.password"
              #password="ngModel" required />
            <button [disabled]="loading" class="btn btn-primary xp-button form-inline" (click)="tryLogin()">Login
              Existing User</button>
            <div class="help-block">{{errorMessageLogin}}</div>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
          </div>
          <hr>
          <div class="form-group form-inline">
            <label for="email" class="col-3">Email</label>
            <input type="email" class="form-control col-5" name="email" [(ngModel)]="model.email" #email="ngModel"
              required />
            <!-- <div *ngIf="f.submitted && !email.valid" class="help-block">Enter email address</div> -->
            <button [disabled]="loading" class="col-3 btn btn-primary xp-button" (click)="tryRegister()">{{loginText}}</button>
            <div class="help-block">{{errorMessageRegister}}</div>
          </div>
          <hr>
          <div class="form-group">
            <!-- <button [disabled]="loading" class="btn btn-primary xp-button" (click)="tryLogin(model)">Login</button> -->
            <label class="col-3"></label>
            <label class="col-5"> {{errorMessageGoogleLogin}}</label>
            <button [disabled]="loading" class="col-3 btn btn-primary xp-button" (click)="tryGoogleLogin()">Login with
              Google</button>
          </div>
        </form>
      <div class="col-3">
        <img width="600" alt="XP Logo" src="./assets/images/xpLogo.jpg">
      </div>

</div>