<div class="container-fluid">
    <h4>Track Data</h4>
    <table id="trackTable" class="table table-striped table-condensed ">
        <thead>
            <tr>
                <th>Waypoint</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody *ngFor="let point of waypoints; let i=index">

            <tr>
                <td id="tdWaypoint" class="col-md-3">
                    {{point.code}}
                </td>
                <td id="tdAltitude" class="col-md-7">
                    {{point.locName}}
                </td>
                <td>
                    <i class="fa fa-trash xp-form-button col-md-2" (click)="onRemove(point)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div [formGroup]="trackForm">
    <div formGroupName="loc">
        <label>Location: </label>
        <mat-form-field class="example-full-width">
            <input  placeholder="Location"  matInput formControlName="waypoint"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of searchResult" [value]="item.locName" (click)="onSelect(item)">
                    {{ item.locName }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-error>
            <span *ngIf="!trackForm.get('loc.waypoint').valid && regiForm.get('loc.waypoint').touched">Must select a
                location</span>
        </mat-error>
    </div>
    <div formGroupName="alt">
        <label>Altitude: </label>
        <mat-form-field class="example-full-width" matInput placeholder="Altitude">
            <mat-select [(value)]="selAltitude" formControlName="altitude">
                <mat-option>None</mat-option>
                <mat-option value="1">A020</mat-option>
                <mat-option value="2">A030</mat-option>
                <mat-option value="3">A030</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-error>
            <span *ngIf="!trackForm.get('alt.altitude').valid && regiForm.get('alt.altitude').touched">Must select a
                altitude</span>
        </mat-error>
    </div>

    <span><button type="submit" class="form-control btn btn-success col-sm-2" [disabled]="!isSelected">
            <i class="fa fa-plus-square xp-form-button"></i>
        </button></span>
</div>