
<div class="container-fluid">  
    <div class="row">
        <map-container class="col-8">
        </map-container>
        <div class="col-4">
            <track-data class="container-fluid">
            </track-data>
            <div>
                Select waypoints here. Enter at least 3 characters to search for a airport. Then select a valid altitude from the list (using the standard format)
                <br><br>
                The waypoints will be drawn on the (google) map, and the resulting flight path calculations appear on the "Flight Plan" tab. The map will be updated as waypoints are added or removed.<br>
                The waypoints and altitude will also be entered in the table above.
            </div>
        </div>
    </div>
    <hr>
</div>
